/* https://dribbble.com/shots/4498087-Dashboard-Dark-Theme */
/* https://dribbble.com/shots/4331791-Crypto-Dashboard-dark-theme  pour les nuances de gris */ 

/* VIOLET */
$success: #9710F0;

/* GRIS / BLEU */
$sidebar-background-color: #232838;
$header-background-color: #1b1f2a;
$content-background-color: #171b26;


$dark-light: #a7b0c3;
